# Webapp config
WEBAPP_VERSION=<value>          # Webapp image version to pull
CLIENT_ID=<value>               # OIDC Client Id
CLIENT_SECRET=<value>           # OIDC Client Secret
DB_CONNECTION_STRING=<value>    # Db connection string for app user
HOSTNAME=<value>                # App domain

# Postgres config
POSTGRES_PASSWORD=<value>   # Superuser password
APP_PASSWORD=<value>        # App user password (used by the webapp)
MIGRATOR_PASSWORD=<value>   # Migration user password (used by migration scripts)

# Pocket ID config
AUTH_URL=<value>   # Pocket Id url
AUTH_ENCRYPTION_KEY=<value>
AUTH_TRUST_PROXY=<value>


